.login{
    height: 100vh;
    width:100% ;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeBackFlexer{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
   align-items: center;
   gap: 10px;
}

.loginLogo{

    /* border: 1px solid white; */
}

.loginDiv{
    height: 500px;
    width: 400px;
    box-shadow: 1px 1px 7px #CF02D9;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;   

}

.welcomeBack{
    font-weight: 400;
    font-size: 20px;
}

.loginH1{
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.loginForm{
    padding-top: 20px;
    height: 300px;
    width: 320px;
    box-shadow: 1px 1px 7px #CF02D9;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.emailDiv, .passwordDDiv{
    height: 50px;
    width: 80%;
    box-shadow: 1px 1px 7px #CF02D9;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-radius: 3px;
}


#email, #password{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}

.passwordEye{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.eyeImage{
    height: 100%;
    width: 100%;
}

.submitLogin{
    background-color: white;
    outline: none;
    border: none;
    /* background-color: #454C9B; */
    cursor: pointer;
    padding:10px ;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}


.submitLogin:hover{
    background-color: #CF02D9;
    color: white;
    box-shadow: 1px 1px 7px #CF02D9;

}

.submitLogin:active{
   
    color: #454C9B;
}

.dontLogin2{
    font-size: 10px;
}

/* sign up */

.signUpLink{
    font-size: 13px;
}

.signUpInLogin{
    box-shadow: 1px 1px 7px #CF02D9;
    border-radius: 30px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}

.signUpInLogin:hover{
    background-color: #CF02D9;
    color: white;
}

.signUpInLogin:active{
    background-color: black;
    color: white;
}


/* sign Up */

.SignUpDiv{
    height: 630px;
    width: 400px;
    box-shadow: 1px 1px 7px #CF02D9;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;  
    border-radius: 20px;
}

.createAccountFlexer{
    display: flex;
    width: 100%;
    height:70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid black; */

}

.signUpForm{
    padding-top: 20px;
    height: 450px;
    width: 320px;
    box-shadow: 1px 1px 7px #CF02D9;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    border-radius: 20px;
}

.signUpEmailDiv , .signUpPasswordDiv{   
    height: 40px;
    width: 80%;
    box-shadow: 1px 1px 7px #CF02D9;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
}

.dontLogin2{
    text-align: center;
}

/* Responsivity */

@media (max-width:480px){

    .welcomeBackFlexer{
        gap: 5px;
    }

    .loginDiv{
       width: 300px;
    }

    .loginForm{
        width: 270px;
    }

    .createAccountFlexer{
        gap: 0px;
        text-align: center;
    }

    .SignUpDiv{
      width: 300px;
    }

    .signUpForm{
        width: 270px;
    }
    
}